<div class="info-container">
    <h1>Celle info</h1>
    <div *ngIf="cell">
        <div style="margin-bottom: 1em;">
            <span>Col: {{cell.col | char}}</span>
        </div>
        <div style="margin-bottom: 0.5em;">
            <span>Row: {{cell.row + 1}}</span>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Sag" [(ngModel)]="caseVal" (ngModelChange)="caseFieldChanged()">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Mængde" [(ngModel)]="wasteVal" (ngModelChange)="wasteFieldChanged()">
            </mat-form-field>
        </div>
    </div>
</div>